<h1>Listing forum_contributors</h1>

<table>
  <thead>
    <tr>
      <th>Contributor</th>
      <th>Forum</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @forum_contributors.each do |forum_contributor| %>
      <tr>
        <td><%= forum_contributor.user %></td>
        <td><%= forum_contributor.forum %></td>
        <td><%= link_to 'Show', forum_contributor %></td>
        <td><%= link_to 'Edit', edit_forum_contributor_path(forum_contributor) %></td>
        <td><%= link_to 'Destroy', forum_contributor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Forum contributor', new_forum_contributor_path %>
