

    <div id="post">

      <div id="post_header">

        <% if post.user.avatar.exists?  %>
          
          <div id="post_avatar">
            <%= image_tag post.user.avatar.url(:mini) if post.user.avatar? %>
          </div>

        <% else %>
          
          <div id="no_post_avatar"></div>

        <% end %>

        <div id="post_sender">
          <h4><%= post.user.title %></h4>
        </div>

        <div id="post_date">
          <h5><%= date(post.created_at) %></h5>
        </div>

        <div id="delete_post_tab" class="poster_post_tab" >
          <center>
            <%= link_to raw('<i class="fa fa-trash-o fa-2x tab_icons"></i>'), post, method: :delete, data: { confirm: 'Are you sure?' } %>
          </center>
        </div>

        <div id="edit_post_tab" class="poster_post_tab" >
          <center>
            <%= link_to raw('<i class="fa fa-cog fa-2x tab_icons"></i>'), [:edit, post] %>
          </center>
        </div> 
        
      </div>
      <!-- end of post header -->

      <div id="post_contents">
        <p><%= auto_link(simple_format(post.content)) %></p>
      </div>

     <!-- COMMENTS PART -->
      <div id="comments">
        <% post.comments.each do |comment| %>
        <div id="comment">

          <div id="comment_header">

            <div id="post_avatar">
              <%= image_tag comment.user.avatar.url(:mini) if comment.user.avatar? %>
            </div>

            <div id="post_sender">
              <h4><%= comment.user.title %></h4>
            </div>

            <div id="post_date">
              <h5><%= date(comment.created_at) %></h5>
            </div>

            <div id="edit_post_tab" class="commenter_tab" >
              <center><%= link_to raw('<i class="fa fa-wrench fa-2x tab_icons"></i>'), [:edit, comment] %></center>
            </div> 
            <div id="delete_post_tab" class="commenter_tab" >
              <center><%= link_to raw('<i class="fa fa-trash-o fa-2x tab_icons"></i>'), comment, method: :delete, data: { confirm: 'Are you sure?' } %></center>
            </div>

          </div>
           <!-- end of comment header -->

          <div id="post_contents">
            <p><%= auto_link(simple_format(comment.content)) %></p>
          </div>

        </div>
         <!-- end of comment -->
        <% end %>
      </div>
      <!-- end of coments -->


      <div id="post_footer">

        <div id="<%= post.id %>" class="post_tab" >
          <center>
            <i class="fa fa-comments-o fa-2x tab_icons"></i>
          </center>
        </div>

      </div>
       <!-- end of post footer -->


      <div id="comment_form_<%= post.id %>" class="comment_form" style="display:none">
        <center>
          <%= form_for([post.comments.build]) do |f| %>

            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.hidden_field :commentable_id, :value => post.id %>
            <%= f.hidden_field :commentable_type, :value => 'Post' %>


            <div class="field">
              <%= f.text_area :content, :class => 'comment_area' %>
            </div>

            <div class="actions">
              <%= f.submit :class => 'btn btn-primary my_button' %>
            </div>

          <% end %>
        </center>
      </div>
       <!-- end of comment form -->


    </div>
    <!-- end of post -->
    




