<%= form_for(@forum) do |f| %>
  <% if @forum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forum.errors.count, "error") %> prohibited this forum from being saved:</h2>

      <ul>
      <% @forum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, :class => 'my_label' %>
    <%= f.text_field :title, :maxlength => 50, :class => 'my_field' %>
  </div>
  <div class="field">
    <%= f.label :description, :class => 'my_label' %>
    <%= f.text_field :description, :maxlength => 500, :class => 'my_field' %>
  </div>

  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary my_button'%>
  </div>
<% end %>
