<% @heading = 'Topics'  %>
<%= render 'layouts/header' %>

<%= render 'layouts/content_side'  %>

<% if @topics.empty? %>
  
  <center><h3>Add Some Topics!</h3>
  <p>Topics are your where your main content goes. Create a new topic and add content to it.</p>
  <p>Topics can be added to any subject you have created.<br> So if topic is needed over a number of subjects you can simply add it to all of them. Smashing</p>
  <br>
  <%= link_to raw('<i class="fa fa-file-text fa-5x"></i> <br>Add a New Topic'), new_topic_path %><br><br>
  <center><%= image_tag('topic_materials.png') %></center>
  </center>


<% else %>

  <tbody>
    <% @topics.each do |topic| %>
      <%= link_to topic do %> 

        <div id="material_topic_block">

          <div id='with_tab'>
            <center><i class="fa fa-file-text fa-2x tab_icons"></i></center>
          </div>

          <div id='material_title'>
            <%= topic.title %>
          </div>  

          <div id="booking_icon" title="No. of Topics"><center><%= link_to raw('<i class="fa fa-trash-o fa-2x tab_icons"></i>'), topic, method: :delete, data: { confirm: 'Are you sure?' }  %></center>
          </div>

          <div id="booking_icon" title="No. of Topics"><center><%= link_to raw('<i class="fa fa-cog fa-2x tab_icons"></i>'), [:edit,topic] %></center>
          </div>

        </div>
      <% end %>
    <% end %>

<br>

<%= link_to 'New Topic', new_topic_path %>

<% end %>