<h1>Admin Section</h1>

<div id="admin_side">

	<%= link_to "Users", users_admin_index_path() %> <br>
	<%= link_to "Courses", courses_admin_index_path() %><br> 
	<%= link_to 'Posts', posts_admin_index_path() %><br>
	<%= link_to 'Comments', comments_admin_index_path() %>  <br>
	<%= link_to 'Forums', forums_admin_index_path() %>  <br>
	<%= link_to 'Uploads', uploads_admin_index_path() %> 

</div>