<% @heading = 'Qualifications'  %>
<%= render 'layouts/header' %>

<table>
  <tbody>
    <% @qualifications.each do |qualification| %>
      <tr>
        <td><%= qualification.quality %></td>
        <td><%= link_to 'Edit', edit_qualification_path(qualification) %></td>
        <td><%= link_to 'Destroy', qualification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Qualification', new_qualification_path, :class => 'btn btn-primary my_button'%>
