<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @subject_topic.subject %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @subject_topic.topic %>
</p>

<%= link_to 'Edit', edit_subject_topic_path(@subject_topic) %> |
<%= link_to 'Back', subject_topics_path %>
