<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @school_course.course %>
</p>

<p>
  <strong>School:</strong>
  <%= @school_course.school %>
</p>

<%= link_to 'Edit', edit_school_course_path(@school_course) %> |
<%= link_to 'Back', school_courses_path %>
