<% @heading = 'My Notifications'  %>
<%= render 'layouts/header' %>

<h5>You have <%= pluralize(@notifications.new_notifications.count, 'new notification')  %></h5>

<%= form_tag group_delete_notifications_path, :method => :delete do %>

    <% @notifications.each do |notification| %>
        <% @notifiable = poly(notification.notifiable_type, notification.notifiable_id) if notification.notifiable_type %>

        <% set_notification_style(notification) %>

        <div id="list_tab" class="<%= @class %>">

            <div id='list_tab_icon'>
                <%= image_tag notification.user.avatar.url(:post) if notification.user.avatar? %>
            </div>

            <div id='list_tab_title'>
              <%= notification.message %>
            </div>

            <div id="list_tab_action">
              <center><%= link_to raw('<i class="fa fa-trash-o fa-2x tab_icons"></i>'), notification, method: :delete, data: { confirm: 'Are you sure?' }  %></center>
            </div>

            <%= link_to @link do %> 
              <div id="list_tab_action">
                <center><%= link_to raw(@icon), notification %></center>
              </div>
            <% end %>

              <div id="notification_created">
                <center><%= date(notification.created_at) %></center>
              </div>
            
            <div id="list_tab_action">
              <center><%= check_box_tag "notifications[]", notification.id %></center>
            </div>
        
        </div>

    <% end %>
    <%= submit_tag "Delete", :class => 'btn btn-inverse my_button' %>
  <% end %>

<br>
