  <% booking_status(booking) %>
  <% my_booking_status(booking) %>

  <%= link_to booking do %>

    <div id="list_tab" class="<%= @class %>">

          <%= render :partial=>'app_count', locals: { booking: booking } %>    

          <div id="list_tab_title">
            <%= booking.title %>
          </div>
          
          <div id="booking_date">
            <%= booking.start.strftime("%B %d, %Y")  %>
          </div>
          
          <div id='booking_time'>
            <%= time(booking.start_time) %> - <%= time(booking.end_time) %>
          </div>

          <div id='booking_icons'>
              <div id="list_tab_action">
                <center><%= link_to raw('<i class="fa fa-trash-o fa-2x tab_icons"></i>'), booking, method: :delete, data: { confirm: 'Are you sure?' }  %></center>
              </div>
              
              <div id="list_tab_action">
                  <center><%= raw(@my_status_icon) %></center>
              </div>

              <div id="list_tab_action">
                  <center><%= raw(@booking_status_icon) %></center>
              </div>
          </div>

        </div>
<% end %>