<% @heading = 'My Bookings'  %>
<%= render 'layouts/header' %>

<%= render 'booking_index_side' %>

<% if @bookings.any?  %>
	<%= form_tag group_delete_bookings_path, :method => :delete do %> 

	<div id="booking_table">

	  <% @bookings.each do |booking| %>

	       <%= render :partial=>'booking_tabs', locals: { booking: booking } %>  

	  <% end %>

	</div>

	  <%= submit_tag "Delete", :class => 'btn btn-inverse my_button' %>

	<% end %>
<% else %>

 		<% booking_welcome %>
      	<%= raw(@welcome)  %>

		<center>
		  <%= link_to raw('<i class="fa fa-ticket fa-5x"></i><br>New Booking'), new_booking_path() %> 
		</center>


<% end %>



