
    <% booking_status(booking) %>
    <% my_booking_status(booking) %>

      <%= link_to booking do %>
        
        <div id="list_tab" class="<%= @class %>">

            <%= render :partial=>'bookings/app_count', locals: { booking: booking } %>
          
            <div id="list_tab_title">
              <%= booking.title %>
            </div>

            <div id='distance_time_dash'>
              <%= distance_of_time_in_words(Date.today, booking.start)  %>
            </div>
        
            <div id="list_tab_action">
                <center><%= raw(@booking_status_icon) %></center>
            </div>

        </div>

      <% end %>
