<%= form_for([@course, @course_item]) do |f| %>
  <% if @course_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_item.errors.count, "error") %> prohibited this course_item from being saved:</h2>

      <ul>
      <% @course_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3>Show in Profile?</h3>
    <p>Choose to show or hide this product in your course profile</p>
     <%= f.check_box :show_in_profile %>
  </div>

<h5>title</h5>
<h4><%= @course_item.product.title %></h4>

<h5>Description</h5>
<h4><%= @course_item.product.description %></h4>

<h5>Price</h5>
<h4>&pound; <%= number_with_precision(@course_item.product.price, precision: 2) %><br><br></h4>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary my_button'%>
  </div>
<% end %>


