<% @heading = 'My Schools'  %>
<%= render 'layouts/header' %>

<% if @schools.empty? %>

      <% school_welcome %>
      <%= raw(@welcome)  %>

      <center>
        <i class="fa fa-home fa-5x icons_100" id="tab_icon"></i><br>
        <%= link_to "Add a School", new_school_path, :class =>" no_decoration" %>
      </center>

<% else %> 

  <div id="grid">
    <% @schools.each do |school| %>
      <%= link_to school do %> 
        <div id="tab">
          <div id="tab_logo">
            <%= image_tag school.logo.url(:medium) if school.logo %>
          </div>
          <div id="tab_type">
            <h3><i class="icon-et-graduation-cap "></i> <%= school.title %> </h3>
          </div>
        </div>
      <% end %>
    <% end %>


    <div id="tab_new">
      <center>
        <%= link_to raw('<i class="icon-et-graduation-cap icons5"></i><br><br> Add School'), new_school_path, :class =>" no_decoration" %> 
      </center>
    </div>

  </div>

<% end %>
