<% @heading = @school.title  %>
<%= render 'layouts/header' %>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %> |

<h2><%= @school.title %></h2>
  
<p>
  <strong>Description:</strong>
  <%= @school.description %>
</p>

 <%= image_tag @school.logo.url(:home) if @school.logo.exists? %>

<br><br><%= link_to 'Add Course', add_course_school_path(@school) %> 

<h4>Courses</h4>
<% @courses.each do |c| %>
	<%= c.title %><br>
<% end %>
