<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= hidden_field_tag :forum_id, @forum.id %>

  <%= f.text_area :content, :class => 'post_text_area'  %>

<div id="post_tab">
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary my_button' %>
  </div>
</div>
<% end %>
