<p id="notice"><%= notice %></p>

<p>
  <strong>Forum:</strong>
  <%= @forum_post.forum %>
</p>

<p>
  <strong>Post:</strong>
  <%= @forum_post.post %>
</p>

<%= link_to 'Edit', edit_forum_post_path(@forum_post) %> |
<%= link_to 'Back', forum_posts_path %>
