<h1>Listing appointments</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Owner</th>
      <th>Confirmed</th>
      <th>booking</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.user %></td>
        <td><%= appointment.owner %></td>
        <td><%= appointment.confirmed %></td>
        <td><%= appointment.booking.title %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
