<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @appointment.user.title %>
</p>

<p><%= @owner.user.title %></p>

<p>
  <strong>Booking:</strong>
  <%= @appointment.booking.title %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @appointment.confirmed %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
