
<% @uploads.each do |upload| %>

	<% if image?(upload.upload_file_name) %>
		<% set_image_styling %>
	<% else %>
		<% set_upload_styling %>
	<% end %>
	
	<div id="upload_tab" class="<%= @new_class %>">

		<div id='with_tab'>		
			<center><%= raw(@icon) %></center>
		</div>

		<div id="upload_tab_title">
			<%= upload.title %>
		</div>

		<div id="upload_tab_file">
			<a href="<%= upload.upload.url %>"><%= upload.upload_file_name %>
		</div>

		<div id="booking_icon">
	        <center>
	        	<%= link_to raw('<i class="fa fa-trash-o fa-2x tab_icons"></i>'), upload, method: :delete, data: { confirm: 'Are you sure?' }  %>
	        </center>
        </div>

	</div>
	
<% end %>