<% @heading = 'Edit Upload'  %>
<%= render 'layouts/header' %>

<%= render 'layouts/content_side'  %>

<div id="edit_media">
	<%= render 'form' %>
</div>

<%= link_to 'Show', @upload %> |
<%= link_to 'Back', uploads_path %>
