<% @heading = 'My Uploads'  %>
<%= render 'layouts/header' %>

<%= render 'layouts/content_side'  %>

<p id="notice"><%= notice %></p>

<% if @uploads.empty? %>
  
  <% no_uploads %>
  <%= raw(@no_uploads) %>
  <center>
    <%= link_to raw('<i class="fa fa-upload fa-5x"></i> <br>Upload some stuff!'), new_upload_path %><br><br>
  </center>

<% else %>

<%= render 'uploads_nav' %>

           <div id="all">
                <%= render 'all' %>
            </div>

            <div id="images" style="display:none" >
                <%= render 'images' %>
            </div>

            <div id="documents" style="display:none" >
                <%= render 'documents'  %>
            </div>
        </div>

<% end %>