<%= form_for(@material) do |f| %>
  <% if @material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
      <% @material.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :topic %><br>
    <%= f.text_field :topic %>
  </div>
  <div class="field">
    <%= f.label :medium_id %><br>
    <%= f.number_field :medium_id %>
  </div>
  <div class="field">
    <%= f.label :medium_type %><br>
    <%= f.text_field :medium_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
