<% @heading = 'Topics' %>

<%= render 'layouts/header' %>
<%= link_to 'Show Topic', topic_path(@topic) %> 
<p id="notice"><%= notice %></p>

<%= render 'layouts/content_side'  %>

<%= render 'topics/top_nav' %>

<%= render 'materials/topic_content'  %>

<%= render 'new_media' %>