<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @material.topic %>
</p>

<p>
  <strong>Medium:</strong>
  <%= @material.medium_id %>
</p>

<p>
  <strong>Medium type:</strong>
  <%= @material.medium_type %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
