<%= form_for(@text) do |f| %>
  <% if @text.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@text.errors.count, "error") %> prohibited this text from being saved:</h2>

      <ul>
      <% @text.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Text Title', :class => 'my_label'%>
    <%= f.text_field :title, :class => 'my_field'%>
  </div>
  
  <div class="field">
    <%= f.label :content, :class => 'my_label' %>
    <%= f.text_area :content, :class => 'my_text_area wide_area' %>
  </div>

  <!-- If Topic is set then the material needs to be linked to the topic -->
  <!-- The controller will check if this is set and add the record to the join table -->
  <% if @topic %>
    <%= hidden_field_tag :topic_id, @topic.id%>
  <% end %>

<div id="media_create">
  <div class="actions">
    <%= f.submit :class => 'my_button btn btn-primary no_margin'%>
  </div>
</div>

<% end %>

